body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', serif;
    overflow-x: hidden;
    text-transform: uppercase;
}

nav {
    height: 100%;
    width: 15%;
    position: fixed;
    left: 0;
    top: 0;
    background-color:#153448;
    overflow-x: hidden;
    box-shadow: 5px 5px 20px rgba(0,0,0,3);
    text-align: center;
}

nav > a {
    padding: 12px 13px;
    margin-bottom: 1%;
    text-decoration: none;
    font-size: 1.25vw;
    color: rgb(150, 150, 150);
    display: block;
    position: relative;
    top: 30%;
}

nav > a:hover:not(.active) {
    color: rgb(189, 189, 189);
}

.active {
    color: white;
}

.About{
    position: relative;
    left: 10px;
}

.info {
    display: flexbox;
    font-family: 'Saira Extra Condensed', serif;
    margin-top: 10%;
    text-transform: uppercase;
    position: absolute;
    left: 17%;
}

#name {
    font-weight: 1000;
    font-size: 4.5vw;
}

#name span {
    color: #dd5901;
}

#title {
    font-size: 2vw;
    position:fixed;
    bottom: 52%;
    color: #4e4848;
}

#line3 {
    color: #857f7f;
}

#line3 {

}

.About img {
    height: auto;
    border: 0.7vw solid #153448;
    border-radius: 22px;
    width: 25%;
    margin-right: 5%;
    position: fixed;
    top: 10%;
    right: 0;
    box-shadow: 2px 2px 20px rgba(0,0,0,3);
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 786px) { 

 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }
