body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Saira Extra Condensed', serif;
    overflow-x: hidden;
}

nav {
    height: 100%;
    width: 25%;
    position: fixed;
    left: 0;
    top: 0;
    background-color:#153448;
    overflow-x: hidden;
    box-shadow: 2px 2px 20px rgba(0,0,0,3);
    text-align: center;
}

nav > a {
    padding: 12px 13px;
    margin-bottom: 1%;
    text-decoration: none;
    font-size: 26px;
    color: white;
    display: block;
    position: relative;
    top: 30%;
}

.active {
    font-weight: 550;
}

.About{
    position: relative;
    left: 10px;
}

#name {
    font-weight: 1000;
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
}

#name span {
    color: #dd5901;
}

.About img {
    height: auto;
    border: 15px solid #153448;
    border-radius: 22px;
    width: 25%;
    margin-right: 5%;
    position: fixed;
    top: 10%;
    right: 0;
    box-shadow: 2px 2px 20px rgba(0,0,0,3);
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 786px) { 

 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }
